# flyctl launch added from .gitignore
############################
# OS X
############################

**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/Icon
**/.Spotlight-V100
**/.Trashes
**/._*


############################
# Linux
############################

**/*~


############################
# Windows
############################

**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN
**/*.cab
**/*.msi
**/*.msm
**/*.msp


############################
# Packages
############################

**/*.7z
**/*.csv
**/*.dat
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip
**/*.com
**/*.class
**/*.dll
**/*.exe
**/*.o
**/*.seed
**/*.so
**/*.swo
**/*.swp
**/*.swn
**/*.swm
**/*.out
**/*.pid


############################
# Logs and databases
############################

**/.tmp
**/*.log
**/*.sql
**/*.sqlite
**/*.sqlite3


############################
# Misc.
############################

**/*#
**/ssl
**/.idea
**/nbproject
**/public/uploads/*
!**/public/uploads/.gitkeep

############################
# Node.js
############################

**/lib-cov
**/lcov.info
**/pids
**/logs
**/results
**/node_modules
**/.node_history

############################
# Tests
############################

**/coverage

############################
# Strapi
############################

**/.env
**/license.txt
**/exports
**/.strapi
**/dist
**/build
**/.strapi-updater.json

# flyctl launch added from node_modules/npm-normalize-package-bin/.gitignore
# ignore most things, include some others
node_modules/npm-normalize-package-bin/*
node_modules/npm-normalize-package-bin/.*

!node_modules/npm-normalize-package-bin/**/bin
!node_modules/npm-normalize-package-bin/**/lib
!node_modules/npm-normalize-package-bin/**/docs
!node_modules/npm-normalize-package-bin/**/package.json
!node_modules/npm-normalize-package-bin/**/package-lock.json
!node_modules/npm-normalize-package-bin/**/README.md
!node_modules/npm-normalize-package-bin/**/CONTRIBUTING.md
!node_modules/npm-normalize-package-bin/**/LICENSE
!node_modules/npm-normalize-package-bin/**/CHANGELOG.md
!node_modules/npm-normalize-package-bin/**/example
!node_modules/npm-normalize-package-bin/**/scripts
!node_modules/npm-normalize-package-bin/**/tap-snapshots
!node_modules/npm-normalize-package-bin/**/test
!node_modules/npm-normalize-package-bin/**/.github
!node_modules/npm-normalize-package-bin/**/.travis.yml
!node_modules/npm-normalize-package-bin/**/.gitignore
!node_modules/npm-normalize-package-bin/**/.gitattributes
!node_modules/npm-normalize-package-bin/**/coverage-map.js
!node_modules/npm-normalize-package-bin/**/map.js
!node_modules/npm-normalize-package-bin/**/index.js
fly.toml
